aws/step_functions/step_functions/sfn_state_machine_definition.json
{
    "StartAt": "Start",
    "States": {
        "Start": {
            "Type": "Pass",
            "Next": "Parallel"
        },
        "Parallel": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "HTTPInvoke",
                    "States": {
                        "HTTPInvoke": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint": "https://zipcloud.ibsnet.co.jp/api/search",
                                "Method": "GET",
                                "Authentication": {
                                    "ConnectionArn": "${connection_arn}"
                                },
                                "QueryParameters": {
                                    "zipcode": "1050003"
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Choice",
                    "States": {
                        "Choice": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "And": [
                                        {
                                            "Variable": "$.Comment",
                                            "IsPresent": true
                                        },
                                        {
                                            "Variable": "$.Comment",
                                            "StringEquals": "Insert your JSON here"
                                        }
                                    ],
                                    "Next": "Yes"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.Comment",
                                            "IsPresent": true
                                        },
                                        {
                                            "Not": {
                                                "Variable": "$.Comment",
                                                "StringEquals": "Insert your JSON here"
                                            }
                                        }
                                    ],
                                    "Next": "No"
                                },
                                {
                                    "Variable": "$.Comment",
                                    "IsPresent": false,
                                    "Next": "No"
                                }
                            ]
                        },
                        "Yes": {
                            "Type": "Pass",
                            "End": true
                        },
                        "No": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Wait",
                    "States": {
                        "Wait": {
                            "Type": "Wait",
                            "Seconds": 3,
                            "End": true
                        }
                    }
                }
            ],
            "Next": "End"
        },
        "End": {
            "Type": "Pass",
            "End": true
        }
    }
}
